BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Attach
AllowShortIfStatementiAsz[k]ngleLine: AllIfsAndElse
AllowShortLoopiAsz[k]ngleLine: true
AllowShortFunctioniAsz[k]ngleLine: Inline
AllowShortBlockiAsz[k]ngleLine: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
Spacesz[k]nParentheses: false
SortIncludes: false
