BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Attach
AllowShortIfStatementiAsz[i]ngleLine: AllIfsAndElse
AllowShortLoopiAsz[i]ngleLine: true
AllowShortFunctioniAsz[i]ngleLine: Inline
AllowShortBlockiAsz[i]ngleLine: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
Spacesz[i]nParentheses: false
SortIncludes: false
